/* Browser */

body{
	background-color: grey;
	margin: 0px auto;
	padding: 0px 400px;
}

h1{
	margin: 0px;
	padding: 30px;
	font-size: 100px;
	color: white;
}


/* Form */

form{
	padding: 20px ;
	background-color: white;
}




/* Color of the * or description of the input */

span{ 
	color: #FF0000; 
}




/* Input for the questions*/

input{
	float: right;
	margin-right: 50px;
	padding: 0px 100px 0px 0px;
	text-align: left;
}


/* Submit buttons */

input:nth-of-type(){
	margin-right: 240px;
	padding: 2px 5px;
}




/* Onkunde Div */

.onkundeDiv{
	margin: -20px -20px 0px;
	padding: 1px;
	background-color: red;
}

/* Footer of Onkunde */

.footer{
	margin: 60px -20px -20px;
	padding: 1px;
	background-color: darkgrey;
	text-align: center;
}