/* Browser */

body{
	background-color: #313130;
	margin: 0px auto;
	padding: 0px 300px;
}

form{
	padding: 20px;
}




/* Titel en teksten */

h1{
	font-family: Cursive;
	padding: 30px;
	font-size: 100px;
}

h2{
	padding: 20px 20px 0px;
}

h1, h2, .verhaal{
	margin: 0px;
}

.verhaal{
	padding: 20px 0px 30px 20px;
}




/* Menu en de footer van de formulieren */

.footer{
	background-color: #40403f;
	text-align: center;
}

.menu, .footer{
	padding: 1px 0px;
}




/* De posisitie waar je de antwoorden in kan vullen, en de knop om de antwoorden te submitten */

input{
	float: right;
	text-align: left;
	margin-right: 20px;
	padding-right: 100px;
}

.submit{
	position: relative;
	bottom: 20px;
	margin-right: 181px;
	padding: 4px 20px;
}




/* De styling van de knoppen voor de formulieren */

.menu li a{
	text-decoration: none;
	float: left;
}

.menu li{
	display: inline-block;
}

.menu li:nth-of-type(1) {
	margin: 0px 40px 0px -20px;
}




/* Kleuren voor de elementen, als de elementen alleen een andere kleur nodig hebben */ 

.description{ 
	color: #FF0000; 
}

.menu{
	background-color: #992600;
}

h2, form, .verhaal{
	background-color: white;
}

h1, .menu li a, .footer{
	color: white
}