/* Browser */

body{
	background-color: grey;
	margin: 0px auto;
	padding: 0px 400px;
}




/* De titel van de opdracht, en van het formulier */

h1{
	margin: 0px;
	padding: 30px;
	font-size: 100px;
	color: white;
}

h2{
	margin: 0px;
	padding: 20px;
}


/* De hele form voor de formulieren */

form{
	padding: 20px;
}




/* Kleur van de vereisten van de vragen */

.description{ 
	color: #FF0000; 
}


/* Menu en de footer van de formulieren */

.menu{
	padding: 1px;
	background-color: red;
}

.footer{
	padding: 1px;
	background-color: darkgrey;
	text-align: center;
}




/* De posisitie waar je de antwoorden in kan vullen, en de knop om de antwoorden te submitten */

input{
	float: right;
	text-align: left;
	margin-right: 20px;
	padding-right: 100px;
}

.submit{
	position: relative;
	bottom: 20px;
	float: right;
	margin-right: 181px;
	padding: 4px 20px;
}




/* Positie van het verhaal van de antwoorden van de gebruiker */

.verhaal{
	margin: 0px;
	padding: 0px 0px 30px 20px;
}




/* De styling van de knoppen voor de formulieren */

.menu li a{
	text-decoration: none;
	color: black;
	float: left;
}

.menu li{
	display: inline-block;
}

.menu li:nth-of-type(1) {
	margin: 0px 40px 0px -20px;
}


h2, form, .verhaal{
	background-color: white;
}